In [13]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('database.db')
c = conn.cursor()

In [17]:
pd.read_sql('SELECT * FROM User', conn)

Empty DataFrame
Columns: [id, username, email, image_file, password]
Index: []

In [16]:
c.execute('DELETE FROM User WHERE id = 1;')
conn.commit()